@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.chat-app {
  display: flex;
  height: 100vh;
}

.backgroundChat{
  background-image: url(./assets/bgChat.svg);
}

.chat-sidebar {
  width: 30%;
  background: #f4f4f4;
  overflow-y: auto;
}

.chat-main {
  width: 70%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.chat-list .contact {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 10px;
  background: #007bff;
  color: #fff;
  text-align: center;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-input button {
  padding: 10px 15px;
  margin-left: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message {
  margin-bottom: 10px;
}

.message.outgoing {
  text-align: right;
  color: blue;
}

.message.incoming {
  text-align: left;
  color: green;
}

.text-gradient {
  background: linear-gradient(94.34deg, #FFFFFF 0%, #9BD0F5 100%),
  linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.text-gradient-2 {
  background: linear-gradient(99.25deg, #4CFA15 -1.93%, #0DB614 92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 768px) {
  .chat-app {
    flex-direction: column;
  }

  .chat-sidebar {
    width: 100%;
    height: 50vh;
    order: 2;
  }

  .chat-main {
    width: 100%;
    height: 50vh;
    order: 1;
  }
}


.bg-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}